# Database
DATABASE_URL=

# Redis
REDIS_URL=

# AI
OPENAI_API_KEY=

# App
APP_URL=http://localhost:3000
API_URL=http://localhost:4000

# Maps
MAP_DEFAULT_LAT=
MAP_DEFAULT_LNG=

# Dataset
VISENT_DATASET_PATH=